#root {
  --primary-color: #326398;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

.App {
  font-family: "Nunito", sans-serif;
  width: 70%;
  margin: auto;
  text-align: center;
}

body {
  background-color: #326398;
  margin: 0px 0px;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem;
}

h1 {
  margin-bottom: 0;
}
.intro {
  font-size: smaller;
}

.list-holder {
  padding-inline-start: 0;
  padding: 0.5rem 0.5rem;
  margin: auto;
}

.list {
  list-style: none;
  text-align: left;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem 1rem;
  border: 2px black solid;
}
