@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

:root {
  --primary-color: #326398;
  --secondary-color: white;
}

.App {
  font-family: "Nunito", sans-serif;
  width: 70%;
  margin: auto;
  text-align: center;
}

body {
  background-color: var(--primary-color);
  margin: 0px 0px;
}

hr {
  background-color: var(--secondary-color);
}

button {
  font-size: larger;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem;
  background-color: var(--primary-color);
  border: 2px var(--secondary-color) solid;
  color: var(--secondary-color);
}

h1 {
  margin-bottom: 0;
  color: var(--secondary-color);
}
.intro {
  font-size: smaller;
  color: var(--secondary-color);
}

.list-holder {
  padding-inline-start: 0;
  padding: 0.5rem 0.5rem;
  margin: auto;
}

.list {
  font-size: large;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  list-style: none;
  text-align: left;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem 1rem;
  border: 2px var(--secondary-color) solid;
}
