@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

.App {
  font-family: "Nunito", sans-serif;
  width: 70%;
  margin: auto;
  text-align: center;
}

body {
  background-color: #326398;
  margin: 0px 0px;
}

hr {
  background-color: white;
}

button {
  font-size: larger;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem;
  background-color: #326398;
  border: 2px white solid;
  color: white;
}

h1 {
  margin-bottom: 0;
  color: white;
}
.intro {
  font-size: smaller;
  color: white;
}

.list-holder {
  padding-inline-start: 0;
  padding: 0.5rem 0.5rem;
  margin: auto;
}

.list {
  font-size: large;
  background-color: white;
  color: #326398;
  font-weight: bold;
  list-style: none;
  text-align: left;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem 1rem;
  border: 2px white solid;
}
